<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body>
  <header>
    <% include ./partials/header %>
  </header>

  <div class="container">
    <h1>Client Settings</h1>
    <hr>
  </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h3>1 - Install MVC 1.0</h3>
        <section class="well">
          <p>
            Install MVC Version 1.0. Find the path here:<br/> <a href="#">file://ZA01-TeamCity/Client Machine Requirements/AspNetMVC1</a>.<br/>
          </p>
        </section>
        <h3>3 - Install MVC 3.0</h3>
        <section class="well">
          <p>
            Install MVC Version 3.0. Find the path here: <br/>
            <a href="#">file://ZA01-TeamCity/Client Machine Requirements/AspNetMVC3ToolsUpdateSetup</a><br/>
          </p>
        </section>
        <h3>5 - ReportViewer Version 2008</h3>
        <section class="well">
          <p>
            <a href="#">file://ZA01-TeamCity/Client Machine Requirements/ReportViewer (2008)</a><br/>
          </p>
        </section>
      </div>
      <div class="col-md-6">
        <h3>2 - Install MVC 2.0</h3>
        <section class="well">
          <p>
            Install MVC Version 2.0. Find the path here: <br/>
            <a href="#">file://ZA01-TeamCity/Client Machine Requirements/AspNetMVC2_VS2008</a><br/>
        </section>
        <h3>4 - ReportViewer Version 2005</h3>
        <section class="well">
          <p>
            Find the path here: <br/>
            <a href="#">file://ZA01-TeamCity/Client Machine Requirements/ReportViewer (2005)</a><br/>
          </p>
        </section>
        <h3>6 - Install Redis For Perfix</h3>
        <section class="well">
          <p>
            Find the path here: <br/>
            <a href="#">file://ZA01-TeamCity/Client Machine Requirements/RedisForPerfix_2.8.2402</a><br/>
          </p>
        </section>
      </div>
    </div>

    <hr>

    <footer>
      <% include ./partials/footer %>
    </footer>
  </div>
  <!-- /container -->

</body>

</html>