<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body>

  <header>
    <% include ./partials/header %>
  </header>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>TeamCity And Octopus!</h1>
      <p>How to enable continuous integration for your project?</p>
      <p><a class="btn btn-primary btn-lg" href="/requirements" role="button">System Requirements &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>General Settings</h2>
        <p>Explains Virtual Machine requirements to install both TeamCity and Octopus.Also elucidate the dependencies required
          to seamlessly integrate perfix. </p>
        <p><a class="btn btn-default" href="/general" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>TeamCity Configuration</h2>
        <p>Everything you want to know about TeamCity and additional build agents installation.Slack integration to TeamCity.
          </p>
        <p><a class="btn btn-default" href="/teamcity" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Octopus Configuration</h2>
        <p>Everything you want to know about Octopus server and tantacles installation.Explains Slack integration to TeamCity.</p>
        <p><a class="btn btn-default" href="/octopus" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

    <footer>

      <% include ./partials/footer %>
    </footer>
  </div>
  <!-- /container -->


</body>

</html>