<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>

    <header>
        <% include ./partials/header %>
    </header>

    <div class="container">
        <h1>Octopus Keys</h1>
        <hr>
    </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h3>Current API Key</h3>
                <section class="well">
                    <ul class="list-group">
                    <li class="list-group-item">
                            API keys allow you to access the Octopus Deploy REST API and
                            perform tasks such as creating and deploying releases.
                            API keys can be saved in scripts or external tools, 
                            without having to use your username and password.
                            Each user and service account can have multiple API keys.
                            <a target="_blank" href="http://docs.octopusdeploy.com/display/OD/How+to+create+an+API+key">Create API Key</a>
                        </li><br/>
                        <li class="list-group-item">
                            API-sdfdfgfdgdfdgdf
                        </li>
                        <ul>
                </section>
            </div>
            <div class="col-md-6">
                <h3>Current Master Key</h3>
                <section class="well">
                    <ul class="list-group">
                    <li class="list-group-item">
                            When Octopus is installed, it generates a random string which 
                            will be used as the master key. You will need to know your master key
                            if you ever hope to restore an Octopus backup on another server 
                            or crashed existing server.
                        </li><br/>
                        <li class="list-group-item">
                            sdfsgfdgfdgfgfdgfdg
                        </li>
                        <ul>
                </section>
            </div>
        </div>
        <hr>

        <footer>
            <% include ./partials/footer %>
        </footer>
    </div>
    <!-- /container -->
</body>

</html>