<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>

    <header>
        <% include ./partials/header %>
    </header>

    <div class="container">
        <h1>Server Installation</h1>
        <hr>
    </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h3>Step -1</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octoinstall1.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -3</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octoinstall3.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -5</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octoinstall5.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -7</h3>
                <section class="well">
                    <ul class="list-group">
                        <li class="list-group-item">If you do not have a licence key(i.e.first time installation), then fill the details in the below
                            screen and click on "Activate" button. You will receive an email with the licence.</li><br/>
                        <img src="./images/octoinstall7.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -9</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octoinstall9.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -11</h3>
                <section class="well">
                    <ul class="list-group">
                        <li class="list-group-item">First, create a database named "Octopus" in SQL.Then choose the created database from the dropdownlist
                            shown in the below screen.</li><br/>
                        <img src="./images/octoinstall11.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -13</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octoinstall13.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -15</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octoinstall15.PNG" alt="" width="520px">
                        <ul>
                </section>
            </div>
            <div class="col-md-6">
                <h3>Step -2</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octoinstall2.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -4</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octoinstall4.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -6</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octoinstall6.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -8</h3>
                <section class="well">
                    <ul class="list-group">
                        <li class="list-group-item">If you already have a licence key, paste it in the given textbox and continue with the installation
                            process.</li><br/>
                        <img src="./images/octoinstall8.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -10</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octoinstall10.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -12</h3>
                <section class="well">
                    <ul class="list-group">
                        <li class="list-group-item">Choose port 85 for Octopus.</li><br/>
                        <img src="./images/octoinstall12.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -14</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octoinstall14.PNG" alt="" width="520px">
                        <ul>
                </section>
            </div>
        </div>

        <hr>

        <footer>
            <% include ./partials/footer %>
        </footer>
    </div>
    <!-- /container -->


</body>

</html>