<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>

    <div class="container">
        <h1>How to enable Octopack for a project?</h1>
        <hr>
    </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <section class="well">
                    <ul class="list-group">
                        <li class="list-group-item">Install Octopack for the projects to be packaged using Octopack.Only the Octopack enabled projects
                            will be packaged in TeamCity.</li>
                        <li class="list-group-item">Go To -> Visual Studio Tools -> Nuget Package Manager->Package Manager Console.</li><br/>
                        <img src="./images/projects1.PNG" alt="">
                        <li class="list-group-item">Select the Default Project where you want to install the Octopack and type the below command to install
                            the Octopus version. At the time of writing this document, 3.4.2 was the latest stable version.
                            Maintain same version for all projects in the same solution.</li><br/>
                        <img src="./images/projects2.PNG" alt="">
                        <li class="list-group-item">Install-Package OctoPack -Version 3.4.2.</li>
                        <li class="list-group-item">Create a <b>“nuspec”</b> file for all projects that have already enabled with Octopack. Nuspec file
                            determines what are all the project files should be included in the final package. You can read
                            more info about it here in the link -
                            <a target="_blank" href="https://docs.nuget.org/ndocs/quickstart/create-and-publish-a-package">Nuget Help</a>                            and
                            <a target="_blank" href="https://docs.nuget.org/ndocs/schema/nuspec">Learn Nuspec</a> .
                        </li><br/>
                        <img src="./images/projects3.PNG" alt="">
                        <li class="list-group-item">Add the recently created nuspec files to their appropriate projects as an existing item. And make
                            changes similar to the sample below.</li><br/>
                        <img src="./images/projects4.PNG" alt="">
                        <li class="list-group-item">It is better not to have spaces in the ID field since we have to use it in octopus whilst creating
                            the deploy steps.</li>
                        <li class="list-group-item">ID should be unique for each project. Please check “nuspec” files created for Transformer and Db
                            Updater projects to learn more.</li>
                        <ul>
                </section>
            </div>
        </div>
        <hr>

        <footer>
            <% include ./partials/footer %>
        </footer>
    </div>
    <!-- /container -->


</body>

</html>