<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="./lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="./css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="/">Continuous Integration</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="general">General</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TeamCity <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="teamcity">Install Steps</a></li>
                            <li><a href="#">Configuration</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Additional Build Agents</li>
                            <li><a href="#">Install Agents</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Octopus <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Install Steps</a></li>
                            <li><a href="#">Configuration</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Tentacle</li>
                            <li><a href="#">Install Steps</a></li>
                        </ul>
                    </li>
                    <li><a href="projects">Project Settings</a></li>
                    <li><a href="slack">Slack</a></li>
                </ul>
                <form class="navbar-form navbar-right">

                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>

    <div class="container">
        <h1>How to enable Octopack for a project?</h1>
        <hr>
    </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <section class="well">
                    <ul class="list-group">
                        <li class="list-group-item">Install Octopack for the projects to be packaged using Octopack.Only the Octopack enabled projects will be packaged in TeamCity.</li>
                        <li class="list-group-item">Go To -> Visual Studio Tools -> Nuget Package Manager->Package Manager Console.</li><br/>
                        <img src="./images/projects1.PNG" alt="">
                        <li class="list-group-item">Select the Default Project where you want to install the Octopack and type the below command to install the Octopus version. 
                        At the time of writing this document, 3.4.2 was the latest stable version. Maintain same version for all projects in the same solution.</li><br/>
                        <img src="./images/projects2.PNG" alt="">
                        <li class="list-group-item">Install-Package OctoPack -Version 3.4.2.</li>
                        <li class="list-group-item">Create a <b>“nuspec”</b> file for all projects that have already enabled with Octopack. Nuspec file determines what are all the project
                        files should be included in the final package. You can read more info about it here in the link - 
                        <a target="_blank" href="https://docs.nuget.org/ndocs/quickstart/create-and-publish-a-package">Nuget Help</a> and 
                        <a target="_blank" href="https://docs.nuget.org/ndocs/schema/nuspec">Learn Nuspec</a>
                        .</li><br/>
                        <img src="./images/projects3.PNG" alt="">
                        <li class="list-group-item">Add the recently created nuspec files to their appropriate projects as an existing item. And make changes similar to the sample below.</li><br/>
                        <img src="./images/projects4.PNG" alt="">
                        <li class="list-group-item">It is better not to have spaces in the ID field since we have to use it in octopus whilst creating the deploy steps.</li>
                        <li class="list-group-item">ID should be unique for each project. Please check “nuspec” files created for Transformer and Db Updater projects to learn more.</li>
                        <ul>
                </section>
            </div>
        </div>
        <hr>

        <footer>
            <p>&copy; 2016 Iress, Inc.</p>
        </footer>
    </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>