<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body>
  <header>
    <% include ./partials/header %>
  </header>

  <div class="container">
    <h1>System Requirements</h1>
    <hr>
  </div>
  <!-- Main jumbotron for a primary marketing message or call to action -->

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        <h3>VM Requirements</h3>
        <p class="well">
          <img src="./images/vmrequirement.PNG" alt="">
        </p>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>TeamCity Requirements</h3>
        <p class="well">
          <img src="./images/teamcityrequirement.PNG" alt="" width="1100">
        </p>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Octopus Requirements</h3>
        <p class="well">
          <img src="./images/octopusrequirement.PNG" alt="">
        </p>

      </div>
    </div>

    <hr>

    <footer>

      <% include ./partials/footer %>
    </footer>
  </div>
  <!-- /container -->


</body>

</html>