<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>

    <header>
        <% include ./partials/header %>
    </header>

    <div class="container">
        <h1>How to notify via Slack?</h1>
        <hr>
    </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h3>Slack on TeamCity</h3>
                <section class="well">
                    <ul class="list-group">
                        <li class="list-group-item">You ahould have admin rights in slack to configure an Incoming Webhook. Registering a Webhook excusively
                            for our build process will help you to configure the slack notification on any platform.</li>
                        <li class="list-group-item">Check my Iress blog : <a target="_blank" href="https://iress.jiveon.com/blogs/krishonline/2016/11/08/teamcity-slack-notifications">Slack Notification on TeamCity</a></li>
                        <ul>
                </section>
            </div>
            <div class="col-md-6">
                <h3>Slack on Octopus</h3>
                <section class="well">
                    <ul class="list-group">
                        <li class="list-group-item">Login into Octopus and choose Library menu from the top right corner.</li>
                        <li class="list-group-item">Go To step template menu from the left side</li><br/>
                        <li class="list-group-item">In some time you can see that set of libraires are loading it into the right side of the screen.</li>
                        <li class="list-group-item">Search for the word you see in the below image.And click on Add Template.</li><br/>
                        <img src="./images/slackocto.png" alt="" width="520px">
                        <li class="list-group-item">You will find this as a template in the octopus process step template list.</li><br/>
                        <ul>
                </section>
            </div>
        </div>
        <hr>

        <footer>
            <% include ./partials/footer %>
        </footer>
    </div>
    <!-- /container -->
</body>

</html>