<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>

    <header>
        <% include ./partials/header %>
    </header>

    <div class="container">
        <h1>Installation</h1>
        <hr>
    </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h3>Step -1</h3>
                <section class="well">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">file://ZA01-TeamCity/BuildAutomationTools/TeamCity</a></li><br/>
                        <img class="img-rounded" src="./images/tcinstall1.PNG" alt="">
                        <ul>
                </section>
                <h3>Step -3</h3>
                <section class="well">
                    <ul class="list-group">
                        <li class="list-group-item">Install only in the C drive to work everything perfectly since we had faced some nuget packaging
                            issues in teamcity installed on other drives.</li><br/>
                        <img src="./images/tcinstall3.PNG" alt="">
                        <ul>
                </section>
                <h3>Step -5</h3>
                <section class="well">
                    <ul class="list-group">
                        <li class="list-group-item">Choose port 84 for TeamCity.</li><br/>
                        <img src="./images/tcinstall5.PNG" alt="" width="500px">
                        <ul>
                </section>
                <h3>Step -7</h3>
                <section class="well">
                    <img src="./images/tcinstall7.PNG" alt="">
                </section>
                <h3>Step -9</h3>
                <section class="well">
                    <img src="./images/tcinstall9.PNG" alt="">
                </section>
                <h3>Step -11</h3>
                <section class="well">
                    <img src="./images/tcinstall11.PNG" alt="">
                </section>
            </div>

            <div class="col-md-6">
                <h3>Step -2</h3>
                <section class="well">
                    <img src="./images/tcinstall2.PNG" alt="">
                </section>
                <h3>Step -4</h3>
                <section class="well">
                    <img src="./images/tcinstall4.PNG" alt="">
                </section>
                <h3>Step -6</h3>
                <section class="well">
                    <img src="./images/tcinstall6.PNG" alt="">
                </section>
                <h3>Step -8</h3>
                <section class="well">
                    <img src="./images/tcinstall8.PNG" alt="">
                </section>
                <h3>Step -10</h3>
                <section class="well">
                    <img src="./images/tcinstall10.PNG" alt="">
                </section>
            </div>
        </div>
        <hr>

        <footer>

            <% include ./partials/footer %>
        </footer>
    </div>
    <!-- /container -->

</body>

</html>