<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>

    <header>
        <% include ./partials/header %>
    </header>

    <div class="container">
        <h1>Tentacle Installation</h1>
        <hr>
    </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h3>Step -1</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octotentacle1.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -3</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octotentacle3.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -5</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octotentacle5.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -7</h3>
                <section class="well">
                    <ul class="list-group">

                        <img src="./images/octotentacle7.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -9</h3>
                <section class="well">
                    <ul class="list-group">
                        <li class="list-group-item">Choose always "Listening" tentacle as shown below.</li><br/>
                        <img src="./images/octotentacle9.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -11</h3>
                <section class="well">
                    <ul class="list-group">

                        <img src="./images/octotentacle11.PNG" alt="" width="520px">
                        <ul>
                </section>
            </div>
            <div class="col-md-6">
                <h3>Step -2</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octotentacle2.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -4</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octotentacle4.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -6</h3>
                <section class="well">
                    <ul class="list-group">
                        <img src="./images/octotentacle6.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -8</h3>
                <section class="well">
                    <ul class="list-group">

                        <img src="./images/octotentacle8.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -10</h3>
                <section class="well">
                    <ul class="list-group">
                        <li class="list-group-item">Login to the Octopus web page. Choose the "Configuration" menu on the top right corner.Choose the
                            "Certificates" from leftside menu. Copy the Certificate number and paste it onto the "Octopus
                            thumbprint" field given below.</li><br/>
                        <img src="./images/octotentacle10.PNG" alt="" width="520px">
                        <ul>
                </section>
                <h3>Step -12</h3>
                <section class="well">
                    <ul class="list-group">

                        <img src="./images/octotentacle12.PNG" alt="" width="520px">
                        <ul>
                </section>
            </div>
        </div>

        <hr>

        <footer>
            <% include ./partials/footer %>
        </footer>
    </div>
    <!-- /container -->


</body>

</html>