<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">Continuous Integration</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="general">General</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TeamCity <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="teamcity">Install Steps</a></li>
                        <li><a href="proxy">Proxy Settings</a></li>
                        <li><a href="#">Configuration</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Additional Build Agents</li>
                        <li><a href="agent">Install Agents</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Octopus <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="octopus">Install Steps</a></li>
                        <li><a href="#">Configuration</a></li>
                        <li><a href="keys">Keys</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Tentacle</li>
                        <li><a href="tentacle">Install Steps</a></li>
                    </ul>
                </li>
                <li><a href="projects">Project Settings</a></li>
                <li><a href="slack">Slack</a></li>
            </ul>
            <form class="navbar-form navbar-right">

            </form>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>